{{#if userFoods}}
  {{#each userFoods as |favorite|}}
    <tr>
      {{!-- <td>Food Name 1</td> --}}
      <td>{{favorite.food_name}}</td>
      {{!-- <td>Carb#</td> --}}
      <td>{{favorite.nf_total_carbohydrates}}</td>
      <td><button type="button" class="btn btn-sm btn-outline-danger deleteBtn" foodDelBtn-id={{favorite.id}}>🗑️</button>
    </tr>
    {{!-- <p>{{favorite.food_name}} {{favorite.nf_total_carbohydrates}}</p> --}}
  {{/each}}
{{else}}
  {{#if logged_in}}
    <tr><td>You have no favorites.</td></tr>
  {{/if}}
{{/if}}