{{!-- <tr>
  <td>{{ this.food_name }}, {{ this.serving_qty }} {{ this.serving_unit }} </td>
  <td>{{ this.serving_weight_grams }} grams</td>
  <td>Carbohydrates: {{ this.nf_total_carbohydrates }}g</td>
  <td>Carbohydrates: {{ this.nf_total_carbohydrates }}g</td>
</tr> --}}